.mobile-app-login-modal {

  &.footer-nav-ipad.modal-open.docked {
    padding-top: 0px;
  }

  #main-outlet {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: unset;
    padding-top: 30px;
  }

  header.d-header {

    >.wrap {
      width: 85%;
    }

   .contents {
     width: unset;
     .title .search-header {
       flex: unset;
     }
   }
  }

  .login-modal .modal-middle-container, .mobile-app-login-modal .create-account .modal-middle-container {
    padding-top: 0em;
  }
}

body.footer-nav-ipad {
  .top-menu {
    padding-top: 16px;
  }
  
  #main-outlet {
    padding-top: 8px;
  }
  
  .category-title-header {
    padding-top: 0px;
  }
}

div.footer-nav {
  display: none;
}


html.anon {
  body.footer-nav-visible, body.footer-nav-ipad {
    div#toprow-links {
       display: none;
    }

    .ads {
      display: none;
    }

    #sso-reply {
      display: none;
    }

    .alert.alert-info {
      display: none;
    }
  }
}
